@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans-Regular.ttf");
}

* {
  font-family: "NunitoSans";
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  a {
    @apply text-blue-800 dark:text-blue-400;
  }
}
